.modal {
  padding: 0 19px;
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: visibility 0s 0.5s, opacity 0.5s;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s;
}

.modal__container {
  position: relative;
  max-width: 358px;
  width: 100%;
  padding: 36px;
  background-color: #fff;
  border-radius: 10px;
}

.modal__close {
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close-icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__heading {
  margin: 0;
  padding-bottom: 54px;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.modal__form-input_type_error {
  border-bottom: solid 1px #ff0000;
  margin-bottom: 0;
}

.modal__error_visible {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-bottom: 30px;
  margin-top: 5px;
}

.modal__button {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border: none;
  width: 100%;
  height: 50px;
  border-radius: 2px;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__button_disabled {
  border-radius: 2px;
  border: 1px solid #000;
  opacity: 20%;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 620px) {
  .modal__container {
    max-width: 282px;
    width: 100%;
    padding: 25px;
  }

  .modal__heading {
    padding-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(100% - 26px);
  }
}
